<div class="login">
    <div class="login-screen">
        <div class="login-form" >
            <div style="display:block;">
                <img width="100" src="assets/logo-datxanh-1a.png">
            </div>
            <div class="row" style="display: inline-block;">
                <h2 class="mt-5 mb-3">Chào mừng đến trang quản trị</h2>
            </div>
            <div class="row" style="display:block;">
                <button class="btn btn-primary" name="button"  (click)="Login()">Đăng Nhập</button>
            </div>
        </div>
    </div>
</div>